/* PLEASE ADD OUR STYLING HERE AND GIVE QUICK EXPLANATIONS OF WHAT CODE DOES JUST FOR CLARITIES SAKE THANKS HOMIES ;)

  TEAM MOTTO:
  {
    I like turtles because they’re so chill. They don’t hurt anyone. They’re just like, “Hey man, I want to swim, and maybe eat some lettuce. But I’m gonna take my time getting there, I’m not in a rush. Because I’m a turtle.”
  }

*/



/*General styling to prevent strange border around page and to prevent viewing of objects / animations of the main screen*/
body, html {
    margin: 0px;
    overflow-x: hidden;
    background-color: #88A7BC;
}

/*This should control the animation effect for certain svg fishes going to the left in particular*/
@keyframes fishL {
  from {left: 0px;}
  to {left: 2000px;}
}

/*This should control the animation effect for certain svg fishes going to the right in particular*/
@keyframes fishR {
  from {right: 0px;}
  to {right: 2000px;}
  
}

/*This should control the animation effect for the waves effect which is meant to be opacity but its currently not working*/
/* @keyframes waves {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#waves {
  animation-name: waves;
  animation-timing-function: linear;
  animation-iteration-count: 3;
} */

/* These are for the sun graphic */
@keyframes rotate {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}

.rotate {
  animation-name: rotate;
  animation-duration: 12s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* This is for the plastic bottles. They fall from left to right */
@keyframes falltoright {
  0% {
    top:0%;
    left:5%;
    transform:rotate(0deg);
    opacity:0;
  }
  50% {
    opacity:0.8;
  }
  100% {
    top:90%;
    left:90%;
    transform:rotate(90deg);
    opacity:0
  }
}

/* This is for the crushed cans. They fall from right to left */
@keyframes falltoleft {
  0% {
    top:0%;
    left:90%;
    transform:rotate(90deg);
    opacity:0
  }
  50% {
    opacity:0.8;
  }
  100% {
    top:90%;
    left:5%;
    transform:rotate(0deg);
    opacity:0;
  }
}






























