.main {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box #myImage {
    min-width: 370px;
    min-height: 270px;
    max-width: 370px;
    max-height: 270px;
    border: solid white 3px;
}

#buttons {
    position: absolute;
    display: flex;
    justify-content: flex-start;
}

.arrows {
    height: 54px;
    width: 30px;
    background-color: white;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
    border: none;
    font-weight: bold;
    align-items: center;
    text-align: center;
    font-size: 32px;
}

.compare {
    height: 54px;
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    border: none;
    font-weight: bold;
    align-items: center;
    text-align: center;
}